@import './fonts.css';
@import './normalize.css';
@import './react-spinner.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir Next W02';
  line-height: 1.5;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}
